#cancun {
  display: none;
}

#disneyland {
  display: none;
}

#yellowstone {
  display: none;
}

#egypt {
  display: none;
}

#london {
  display: none;
}

#florence {
  display: none;
}

#switzerland {
  display: none;
}
